@import url("observablehq:default.css");
@import url("observablehq:theme-air.css");

/* Card Info and Download Buttons */

.card {
    display: flex;
    flex-direction: column;
}

.card .with-info {
    /* enable absolute positioning of .info over .body */
    position: relative;

    /* grow .body to size of grid neighbors */
    flex-grow: 1;

    /* bottom-align plot in card */
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.card .with-info .info {
    /* position over .body inheriting its size */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: scroll;
}

.card .with-info .info {
    visibility: hidden;
}

.card.flip .with-info .info {
    visibility: visible;
}

.card.flip .with-info .body {
    visibility: hidden;
}

.card .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.card .header .tools {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    justify-content: flex-end;
}

.card .header .tools a {
    padding: 0px 3px;
    color: var(--theme-foreground-muted);
    cursor: pointer;
}

.card .header .tools a:hover ion-icon {
    color: var(--theme-foreground);
    --ionicon-stroke-width: 48px;
}

.card .header .tools ion-icon {
    font-size: 1.5rem;
}

.card .header .tools .close-button,
.card.flip .header .tools .info-button {
    display: none;
}

.card.flip .header .tools .close-button {
    display: inline;
}